name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@v1

      - uses: actions/checkout@v4

      - name: Passing tests
        run: make passing-tests

      - name: Failing tests
        run: make failing-tests
        continue-on-error: true